<h1>Dropbox</h1>
<ul>
  <li><%= link_to "List Files", :action => 'list_files' %></li>
  <li><%= link_to "List Snapshots", :action => 'list_snapshots' %></li>
  <li><%= link_to "List Responses", :action => 'list_responses' %></li>
</ul>